/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: "Raleway",helvetica, arial, sans-serif;
}
html, body{
    background-color: #3FD2FF;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: "Lobster",'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family:"Lobster", 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
    list-style: none;
    font-style: none;  
}
ul{
    width: 100%;
    padding: 0;
    background-color: #B1EDFF;
    float: left;
    position: relative;
    overflow: hidden;
}
li{

}
nav li>a{
    color: #4DA4C4;
    margin: 0;
    padding: 20px;

}
nav li>a:hover{
    color: #3FD2FF;
    display: block;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #B1EDFF;
    color: #123D4A;
}
header{
    border-bottom: 0.8rem solid #22628F;
    background-color: #32A6C9;
    color: #D8FAFF;
}
.menu-h{
    width: 100%;
}
    .menu-h li{
        width: 20%;
        float: left;
        overflow: hidden;
        text-align: center;
        text-transform: uppercase;
        
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            display: block;
            text-decoration: none;
            border: 5px outset #B1EDFF;
            background-color: #92DEFF;
            
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
        }
        .menu-h a:hover,
        .menu-h a:active{
/*            background-color: #123D4A;*/
            border: 5px inset #B1EDFF;
        }
.menu-v{
    width: 20%;
    float: none;
}
    .menu-v li{
        height: inherit;
        text-align: center;
        text-transform: uppercase;
        
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    }
        .menu-v a,
        .menu-v a:link, 
        .menu-v a:visited{
            padding: ;
            text-decoration: none;
            display: block;
            border-left: 7px dotted transparent;
            transition: .5s;
            
            /* style the anchors to fill the entire width of the li */
        }
        .menu-v a:hover, 
        .menu-v a:active{
            border-left: 7px dotted #B1EDFF;
            display: block;
            overflow: hidden;
            background-color: #123D4A;
            
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}